@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_astro/open-sans-latin-400-normal.441e2360.woff2) format("woff2"),
    url(/_astro/open-sans-latin-400-normal.e52fc979.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-family: Open Sans, sans-serif;
  color: #1b1b1b;
   height: auto;
  width: auto;
  align-items: center;
}

body {
  margin: 0;
  line-height: 1.75rem;
  width:95vw;
}

a {
  color: #0069c2;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.exercicesAnswers {
  font-weight: 700;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5%;
}

.exercises {
  margin-bottom: 30px;
  border-bottom: 2px solid #2daae1;
  padding-bottom: 10px;
}

.app-title {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 1.3rem;
  @media (min-width: 600px) {
    font-size: 2rem;
  }
}
pre {
  padding: 10px;
  background-color: #f2f1f1 !important;
  line-height: 1.5;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: auto;
  height:fit-content;
}
:not(pre) > code {
  font-weight: 700;
  background-color: #f2f1f1;
  padding: 5px;
}
.main-footer {
  background-color: #738a9466;
  height: 70px;
}

.main-footer > .container {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

:not(footer) > .container {
  min-height: calc(100svh - 70px);
}

.note {
  background-color: #2daae166;
  padding: 20px;
  position: relative;
}

.note:before {
  content: "ℹ️";
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

.back {
  display: inline-block;
  margin: 1em 0;
}
